page-profile {
    ion-header {
        margin-bottom: 0
    }

    img {
        border-radius: 50%
    }

    .profile {
        background-color: #8EC641;
        color: white;
    }

    .scroll-content {
        // margin-top: 150px !important;
        margin-bottom: 25px !important;
    }

    .contenido {
        margin-top: 0px !important;
    }
}
